---
title: 404 Not Found
---

<h1>404 Not Found</h1>

<p>
  Try <%= link_to "searching", "https://www.google.com/search?q=site:libs.rs" %>
  or take a look at
  <%= link_to "all categories", "/" %>.
</p>
