<article>
  <div class="row">
    <div class="col-md-12">
      <h2><%= entry.name %></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p><%= entry.description %></p>
    </div>
  </div>
</article>

