---
skip_title: true
---

<ul class="list-unstyled">
  <% all_categories.sort_by { |c| c.title }.each do |cat| %>
    <li><%= link_to cat.title, "/#{cat.id}/", title: cat.description %></li>
  <% end %>
</ul>
